<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransactionParser.Template" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TransactionParser.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TransactionParser.Template>
            <setting name="Type" serializeAs="String">
                <value>произведена транзакция по оплате</value>
            </setting>
            <setting name="Account" serializeAs="String">
                <value>по Вашей банковской карте ВТБ24</value>
            </setting>
            <setting name="Amount" serializeAs="String">
                <value>произведена транзакция по оплате</value>
            </setting>
            <setting name="Available" serializeAs="String">
                <value>Доступно к использованию</value>
            </setting>
            <setting name="Payee" serializeAs="String">
                <value>Детали платежа: место -</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value>Сообщаем Вам, что</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>Сообщаем Вам, что %DATE% в</value>
            </setting>
        </TransactionParser.Template>
        <TransactionParser.Configuration>
            <setting name="InputCodePage" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="MessageLines" serializeAs="String">
                <value>5</value>
            </setting>
        </TransactionParser.Configuration>
    </userSettings>
</configuration>