<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="TemplateGroup">
      <section name="TemplateSection" type="ParserConfiguration.TemplateSection, ParserConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <TemplateGroup>
    <TemplateSection InputCodePage="UTF-8" MessageLines="6">
      <Templates>
        <add Name="Transaction"
           Type="произведена транзакция по оплате"
           Account="по Вашей банковской карте ВТБ24"
           Amount="произведена транзакция по оплате"
           Available="Доступно к использованию"
           Payee="Детали платежа: место -"
           Date="Сообщаем Вам, что"
           Time="Сообщаем Вам, что %DATE% в" />
      </Templates>
    </TemplateSection>
  </TemplateGroup>
</configuration>